<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>User2::list</title>
</head>
<body>
	<h3>User2 목록</h3>

	<a th:href="@{/index}">처음으로</a>
	<a th:href="@{/user2/register}">등록</a>
	
	<table border="1">
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>생년월일</th>
			<th>휴대폰</th>
			<th>나이</th>
			<th>관리</th>
		</tr>
		<tr th:each="user:${users}">
			<td>[[${user.uid}]]</td>
			<td>[[${user.name}]]</td>
			<td th:text="${user.birth}">birth</td>
			<td th:text="${user.hp}">hp</td>
			<td th:text="${user.age}">age</td>
			<td>
				<a th:href="@{/user2/modify(uid=${user.uid})}">수정</a>
				<a th:href="@{/user2/delete(uid=${user.uid})}">삭제</a>
			</td>
		</tr>
		</c:forEach>
	</table>
</body>
</html>