<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>success</title>
</head>
<body>
<h3>로그인 성공</h3>

<!-- thymeleaf 시큐리티 속성을 사용하기 위해 상단 thymeleaf security 네임스페이스 선언 -->
<p sec:authorize="isAuthenticated()">
  아이디 : [[${#authentication.principal.user.uid}]]<br>
  이름 : [[${#authentication.principal.user.name}]]<br>
  생년월일 : <span sec:authentication="principal.user.birth">1990-09-01</span><br>
  권한 : <span sec:authentication="principal.user.role">ADMIN</span><br>
  가입일 : <span sec:authentication="principal.user.rdate">1999-09-09 11:00:00</span><br>
</p>

<a th:href="@{/user/logout}">로그아웃</a>
<a th:href="@{/}">메인</a>

</body>
</html>